@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0; 
 font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  position:fixed;
  width: 100%;
  top:0;
  bottom: 0;
  
}

.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.book-list:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
.book-details {
  background-image: url(images/image3.jpeg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.book{
  margin-top: 50px;
}

.bookButton{
  width: 80%;
}

.author{
  font-size: 25px;
}

.row1 h1{
  font-size: 3rem;
  padding-top: 150px;
  color: white;
}

.row2{
  margin-top: 100px;
  right: 150px;
  text-align: center;
  font-size: 15px;

}

.search{
  display: flex;
  align-items: center;
  justify-content:center;
}

.search input{
  outline: 0;
  border: 0;
  width: 350px;
  height:35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
}

.search button{
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}

.book img{
  width: 300px;
  height: 300px;
  border-radius: 1rem 1rem 0 0;
}

span{
  color: blue;
}
.book img:hover{
  background-color: rgba (255, 255, 255, 0.8);
  transform: scale(0.9);
}
.new-comment-form {
  border: solid black 1px;
  padding: 1em;
  padding-top: 100px;
  height: 100vh;
  width: 60%;
}

.new-comment-form > input,
.new-comment-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #04e8ff;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}

.sidebar {
  min-height: 100vh;
  border-right: solid black 1px;
  background: #e5fdff;
  width: 100%;
}

.comment{
  display: flex;
  flex-direction: row;
  padding-top:100px;
  justify-content:space-between;
}

.sidebar > button {
  width: 100%;
}